.CustomersSection {
	background: #fff;
	padding: 60px 0;

	.container {
		text-align: center;
		overflow: initial;
	}

	&-title {
		font-size: 39px;
		font-weight: 300;
		max-width: 600px;
		margin: 0 auto;
	}

	&-subtitle {
		margin-top: 15px;
	}

	&-button {
		margin-top: 15px;
	}

	&-logos {
		margin-top: 35px;
		background: #fff;
		padding: 0 30px;
		text-align: center;
	}

	&-logosItem {
		display: inline-block;
		vertical-align: middle;
    padding: 25px 50px;
	}

	&-logosItem:last-child {
    padding-left: 38px;
	}

	&-logosItem > img {
		height: 50px;
	}
}


@media screen and (max-width: 768px) {

	.CustomersSection {
		&-title {
			font-size: 32px;
		}
	}
}



@media screen and (max-width: 768px) {

	.CustomersSection {

		&-title {
			font-size: 22px;
		}

		&-subtitle {
			font-size: 15px;
		}

		&-button {
			margin-top: 0;
		}

		&-logosItem {
	    padding: 25px 10px;
		}

		&-logosItem:last-child {
			padding-left: 10px;
		}
	}

}
