.Header {
    background: #fff;
    border-bottom: 2px solid #eee;
    margin: 0 auto;
    z-index: 55;

    &-nav,
    &-logo {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    &-logo {
        padding-left: 30px;
        max-width: 10%;
        vertical-align: bottom;
    }

    &-logo img {
        height: 39px;
    }

    &-nav {
        text-align: right;
        font-weight: 300;
        max-width: 90%;
    }

    &-navItem {
        position: relative;
        display: inline-block;
        padding: 18px 20px 16px 20px;
        vertical-align: middle;
        font-size: 14px;
        z-index: 2;
        transition: color 0.3s ease;
        color: #777;
        cursor: pointer;

    }

    &-navItem:after {
        content: '';
        position: absolute;
        opacity: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        left: 0;
        background: #00aeff;
        transition: opacity 0.3s ease;
    }

    &-navItem:last-child {
        border-left: 1px #eee solid;
        display: none;
    }

    &-navItem:last-child:after {
        display: none;
    }

    &-navItemButton {
        font-size: 24px;
        color: #ccc;
        transition: color 0.3s ease;

    }

    &-navItem a {
        outline: none;
        transition: all 0.3s ease;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &-navItem:hover,
    &-navItem:hover > &-navItemButton {
        color: #00aeff;
    }

    &-waypoint {
        color: #00aeff;
    }

    &-waypoint:after {
        opacity: 1;
    }

    &-navItem:hover:after {
        opacity: 1 !important;
    }

    &-resourcesWaypoint {
        display: none;
    }

    &-burger {
        position: absolute;
        display: none;
        cursor: pointer;
        right: 30px;
        top: 24px;
    }

    &-burgerLine {
       width: 22px;
       height: 1px;
       margin-top: 3px;
       background: #999;
       margin: 0 0 6px 0;
    }

    &-burgerActive &-burgerLine {
        background: #00aeff;
    }

     &-navActive {
        transform: translateY(0) !important;
    }
}


@media screen and (max-width: 768px) {
    .Header {

        &-burger {
            display: inline-block;
        }

        &-logo {
            padding: 10px 0 5px 30px;
        }

        &-nav {
            max-width: 100%;
            position: absolute;
            top: 61px;
            display: block;
            z-index: 44;
            transform: translateY(-150%);
        }

        &-navItem {
            display: block;
            width: 100%;
            text-align: center;
            background: #fff;
            border-bottom: 1px #eee solid;
        }
    }
}