.headhesive,
.headhesive--unstick {
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(-100%) translateZ(0);
    transition: transform 0.3s ease;
}

.headhesive--unstick .Header-nav {
	display: none;
}

.headhesive--stick {
    transform: translateY(0) translateZ(0);
}