.WhySection {
	padding: 80px 0 50px 0;

	&-title {
		text-align: center;
		font-weight: 100;
		font-size: 39px;
	}

	&-hr {
	    margin: 0 auto;
		margin-top: 25px;
	    width: 80px;
	    height: 2px;
	    background-color: #00aeff;
	}

	&-text {
		margin-top: 30px;
		margin-bottom: 100px;
		color: #777;
		text-align: center;
		font-weight: 300;
		font-size: 16px;
	}

	&-list,
	&-nexus {
		display: inline-block;
		width: 33.33%;
		vertical-align: top;
	}

	&-nexus > img {
		width: 100%;
	}

	&-listItem {
		margin-bottom: 60px;
	}

	&-left {
	    text-align: right;
	}

	&-left &-listTextTitle {
		padding-left: 10px;
	}

	&-right &-listTextTitle {
		padding-right: 20px;
	}

	&-listTextTitle {
		font-weight: 300;
		font-size: 28px;
		line-height: 32px;
	}

	&-listTextDescription {
		margin-top: 25px;
		color: #777;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.6;
	}

	&-listImage,
	&-listText {
		display: inline-block;
		vertical-align: top;
	}

	&-listImage {
		width: 20%;
		text-align: right;
	}

	&-right &-listImage {
		text-align: left;
	}

	&-listText {
		width: 80%
	}

	&-icon {
	    margin-top: 8px;
	    color: #777;
		font-size: 48px;
	}
}


@media screen and (min-width: 460px) and (max-width: 895px) {
	.WhySection {

		&-nexus > img {
			width: auto;
			max-height: 600px;
		}
	}
}


@media screen and (max-width: 895px) {
	.WhySection {
		padding: 70px 0;

		&-nexus {
			margin-top: -50px;
		}

		&-list,
		&-nexus {
			display: block;
			width: 100%;
			text-align: center;
		}

		&-listItem {
			position: relative;
			padding-top: 0px;
		}

		&-listImage {
			width: auto;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		&-listText {
			width: 100%;
		}

		&-listTextTitle {
			padding-right: 0 !important;
		}

	}
}