a---
layout: default
title: "AirPrint for iOS"
order: "3"
banner_title: "How It Works / Architecture"
description: "The Breezy Beacon provides AirPrint support to any printer."
---



<div class="section-feature">
	<div class="w-container">
		<div class="w-row">

			{% include architecture_subnav.html %}

			<!-- Main Content -->
			<div class="w-col w-col-9 content-right-column">
				<div class="w-container">
						<h1 class="feature-headline central">Secure AirPrint for iOS devices</h1>
				</div>

				<img alt=
				"Breezy AirPrint with Beacon" src=
				"/images/airprint-with-beacon.jpg"
				class="main-image">

				<p>Breezy allows for a secure and on-premise deployment model of Apple’s AirPrint solution. This allows users to print from iOS devices using the native print functionality on these devices and Breezy’s architecture adds the ability for printer access across the different subnets in your company’s Wi-Fi deployment.</p>

				<ol>
					<li><p>iOS device searches for AirPrint-enabled printers, sees those advertised by local Beacon.</p></li>

					<li><p>Beacon encrypts document and pushes encrypted document to internal storage.</p></li>

					<li><p>(Step 3-4) Rendering takes place on-premise as Breezy Cloud provides “traffic control”.</p></li>

					<li><p>(Step 5-7) Connector obtains rendered document from on-premise storage and sends to printer. The Breezy Cloud logs print job for compliance and cost recovery.</p></li>
				</ol>

			</div>
			<!-- End Main Content -->
		</div>
	</div>
</div>

{% include gradient.html %}