.CustomersSection
  .container
    .CustomersSection-title
      | THE WORLD'S BEST COMPANIES CHOOSE BREEZY.
    .CustomersSection-subtitle
      | From large to small, serious enterprises around the world trust us with their printing. 

    .CustomersSection-logos
      .CustomersSection-logosItem
        img(src='images/customers/firstdata.png')
      .CustomersSection-logosItem
        img(src='images/customers/ageas.jpg')
      .CustomersSection-logosItem
        img(src='images/customers/dbs.jpg')
      .CustomersSection-logosItem
        img(src='images/customers/lilly.png')
      .CustomersSection-logosItem
        img(src='images/customers/kp.png')
      .CustomersSection-logosItem
        img(src='images/customers/purdue.jpg')
      .CustomersSection-logosItem
        img(src='images/customers/dlapiper.png')
      .CustomersSection-logosItem
        img(src='images/customers/paulweiss.png')
      .CustomersSection-logosItem
        img(src='images/customers/wsgr.jpg')
      .CustomersSection-logosItem
        img(src='images/customers/nemak.png')
      .CustomersSection-logosItem
        img(src='images/customers/bluecare.png')
      
    
    
    

    .CustomersSection-button.buttonControl.wow.fadeInUp
      a(href="resources/other-resources.html")
      | More Customer Stories
