.CustomersSection
  .container
    .CustomersSection-title
      | THE WORLD'S BEST COMPANIES CHOOSE BREEZY.
    .CustomersSection-subtitle
      | Here's what a few of them have to say:

    .CustomersSection-slider
      .CustomersSection-sliderItem
        .CustomersSection-text
          | Breezy was absolutely critical to our evolution into a mobile-first enterprise.<br>We could not have replaced laptops with tablets without their help.
        .CustomersSection-image
          img(src="images/customers/sean-ofarrell.jpg")
        .CustomerSection-name
          | Sean O'Farrell, Director, Digital Workplace Services
        .CustomersSection-ocupation
          | Eli Lilly

      .CustomersSection-sliderItem
        .CustomersSection-text
          | Breezy is a core part of our strategy to revamp our mobile workforce in bank branches.
        .CustomersSection-image
          img(src="images/customers/.jpg")
        .CustomerSection-name
          | Brian Smith, VP, Chief Engineer - ATM & Banking Center Technologies
        .CustomersSection-ocupation
          | Bank of America

      .CustomersSection-sliderItem
        .CustomersSection-text
          | Breezy's Universal Queue is one of the few game-changing technologies we've had the opportunity to deploy this year. We are delighted with the functionality and the cost savings.
        .CustomersSection-image
          img(src="images/customers/brian-kripowicz.jpg")
        .CustomerSection-name
          | Brian Kripowicz, Sr. Manager, IT Services Group
        .CustomersSection-ocupation
          | DLA Piper

      .CustomersSection-sliderItem
        .CustomersSection-text
          | We have been relying on Breezy's email printing capabilities since 2012 and never had a problem. I strongly recommend them to anyone looking for an easy, secure and reliable mobile print solution.
        .CustomersSection-image
          img(src="images/customers/phillip-hoare.jpg")
        .CustomerSection-name
          | Phillip Hoare, CIO
        .CustomersSection-ocupation
          | Wilson Sonsini Goodrich Nash & Rosenthal

      .CustomersSection-sliderItem
        .CustomersSection-text
          | Five stars all around. The product is great and the support is world-class. I can't say enough good things about these guys.
        .CustomersSection-image
          img(src="images/customers/sal-costanzo.jpg")
        .CustomerSection-name
          | Sal Costanza, CTO
        .CustomersSection-ocupation
          | New Albany Floyd County Schools

    .CustomersSection-button.buttonControl.wow.fadeInUp
      a(href="become_a_partner.html")
      | More Customer Stories