.CustomersSection
  .container
    .CustomersSection-title
      | THE WORLD'S BEST COMPANIES CHOOSE BREEZY.
    .CustomersSection-subtitle
      | From large to small, serious enterprises around the world trust us with their printing. 

    .CustomersSection-image
        img(src="images/lots-of-logos.png")
    

    .CustomersSection-button.buttonControl.wow.fadeInUp
      a(href="resources/other-resources.html")
      | More Customer Stories