.Footer
  .container
    .Footer-list
      .Footer-listItem
        .Footer-listTitle
          | Learn More
        .Footer-listLink
          a(href="http://www.breezy.com/security.html") Breezy Security
        .Footer-listLink
          a(href="http://www.breezy.com/architecture/secure-cloud-printing-architecture.html") Secure Cloud Printing
        .Footer-listLink
          a(href="http://www.breezy.com/architecture/on-premise-mobile-printing-for-enterprise.html") On-Premise Deployments
        .Footer-listLink
          a(href="http://landing.breezy.com/Secure_Easy_Printing_with_AirWatch") Secure Printing for AirWatch
        .Footer-listLink
          a(href="http://landing.breezy.com/Printing_with_Good_Dynamics_Technology") Secure Printing for Good Technology
        .Footer-listLink
          a(href="http://landing.breezy.com/Printing_with_MobileIron_AppConnect") Secure Printing for MobileIron
        .Footer-listLink
          a(href="http://www.breezy.com/products/email-printing-for-companies.html") Email Printing

      .Footer-listItem
        .Footer-listTitle
          | Industries
        .Footer-listLink
          a(href="http://www.breezy.com/industries/finance.html") Banking and Finance
        .Footer-listLink
          a(href="http://www.breezy.com/industries/legal.html") Legal &amp; Professional Services
        .Footer-listLink
          a(href="http://www.breezy.com/industries/government.html") Government
        .Footer-listLink
          a(href="http://www.breezy.com/industries/healthcare-and-pharma.html") Healthcare and Pharma
        .Footer-listLink
          a(href="http://www.breezy.com/industries/education.html") Education
        .Footer-listLink
          a(href="http://www.breezy.com/industries/manufacturing.html") Manufacturing

      .Footer-listItem
        .Footer-listTitle
          | Resources
        .Footer-listLink
          a(href="http://landing.breezy.com/definitive-guide-to-mobile-printing" target="new") Definitive Guide to Mobile Printing
        .Footer-listLink
          a(href="http://www.breezy.com/resources/datasheets.html") Datasheets
        .Footer-listLink
          a(href="http://www.breezy.com/resources/other-resources.html") Whitepapers
        .Footer-listLink
          a(href="http://www.breezy.com/resources/videos.html") Videos
        .Footer-listLink
          a(href="http://www.breezy.com/resources/FAQ.html") FAQ
        .Footer-listLink
          a(href="http://www.breezy.com/partners/breezy-for-developers.html") For Developers

      .Footer-listItem
        .Footer-listTitle
          | Contact & Info
        .Footer-listLink
          a(href="http://www.breezy.com/about/about-breezy.html") About Us
        .Footer-listLink
          a(href="http://www.breezy.com/blog/") Blog
        .Footer-listLink
          a(href="http://www.breezy.com/about/press.html") Press
        .Footer-listLink
          a(href="https://support.breezy.com") Support
        .Footer-listLink
          a(href="http://www.breezy.com/about/contact.html") Contact Us

    .Footer-hr
    .Footer-socials
      .Footer-social
        a(href="https://twitter.com/breezy" target="_blank")
          img(src="images/socials/twitter.svg")
      .Footer-social
        a(href="https://www.youtube.com/channel/UCGMsUhpoE049tcayCHWCFEA" target="_blank")
          img(src="images/socials/youtube.svg")
      .Footer-social
        a(href="https://www.linkedin.com/company/breezy_com" target="_blank")
          img(src="images/socials/linkedin.svg")

    .Footer-logo
      a(href="/")
        img(src="images/logo-big.svg")

    .Footer-copyright
      | &copy; 2015 BreezyPrint Corporation. All rights reserved.
      br
      |Certain aspects of Breezy's products protected by US Patent No. 9,019,535 and other pending patents.