.Header
  .Header-logo
    a(href="/")
      img(src="images/logo-nav.svg")

  .Header-nav
    .Header-navItem
      | Products

      .Header-links
        a.Header-link(href="/products/secure-mobile-printing-for-enterprise.html")
          | Secure Mobile Printing for Enterprise
        a.Header-link(href="/products/mobile-printing-at-partner-locations.html")
          | On-Location Printing with the Breezy Partner Network
        a.Header-link(href="/products/email-printing-for-companies.html")
          | Email Printing
        a.Header-link(href="/products/secure-mobile-printing-at-home.html")
          | Home and Personal Mobile Printing

    .Header-navItem
      | How it Works

      .Header-links
        a.Header-link(href="/architecture/secure-cloud-printing-architecture.html")
          | Architecture
        a.Header-link(href="/components/apps.html")
          | Components
        a.Header-link(href="/security.html")
          | Security

    .Header-navItem
      | Partners

      .Header-links
        a.Header-link(href="/partners/breezy-emm-partners.html")
          | Mobile Security - EMM
        a.Header-link(href="/partners/breezy-for-developers.html")
          | Developers
        a.Header-link(href="/partners/breezy-partner-network.html")
          | Public Printing Locations

    .Header-navItem
      | Industries

      .Header-links
        a.Header-link(href="/industries/finance.html")
          | Finance
        a.Header-link(href="/industries/legal.html")
          | Legal and Professional Services
        a.Header-link(href="/industries/government.html")
          | Government
        a.Header-link(href="/industries/healthcare-and-pharma.html")
          | Healthcare and Pharma
        a.Header-link(href="/industries/education.html")
          | Education
        a.Header-link(href="/industries/manufacturing.html")
          | Manufacturing

    .Header-navItem
      | Resources

      .Header-links
        a.Header-link(href="/resources/datasheets.html")
          | Datasheets
        a.Header-link(href="/resources/videos.html")
          | Videos
        a.Header-link(href="/resources/other-resources.html")
          | Whitepapers
        a.Header-link(href="/resources/FAQ.html")
          | FAQ

    .Header-navItem
      | About Us

      .Header-links
        a.Header-link(href="/about/about-breezy.html")
          | About Breezy
        a.Header-link(href="/about/press.html")
          | Press
        a.Header-link(href="/about/media-kit.html")
          | Media Kit
        a.Header-link(href="{{site.url}}/blog" target="blank")
          | Blog
        a.Header-link(href="/about/contact.html")
          | Contact Us

    .Header-navItem.Header-relative
      a(href="http://support.breezy.com/" target="blank")
      | Support

    .Header-navItem
      .Header-button
        a(href="http://landing.breezy.com/request_a_breezy_demo?ref=navbutton" target="blank")
        | Request a Demo


  .Header-burger
    .Header-burgerLine
    .Header-burgerLine
    .Header-burgerLine