.Header
  .Header-logo
    a(href="/")
      img(src="images/logo-nav.svg")

  .Header-nav
    .Header-navItem.Header-WhySection
      | Why Breezy
    .Header-navItem.Header-SolutionsSection
      | Solutions
    .Header-navItem.Header-CustomersSection
      | Customers
    .Header-navItem.Header-PartnersSection
      | Partners

    .Header-navItem
      .Header-navItemButton.icon-question

  .Header-burger
    .Header-burgerLine
    .Header-burgerLine
    .Header-burgerLine