.HeaderSection
  .HeaderSection-background
  .container
    .HeaderSection-logo.wow.fadeIn(data-wow-delay="0.8s")
    .HeaderSection-slogan.wow.fadeInUp(data-wow-delay="1.4s")
      | Reinventing printing
      br
      | for the 21st century

    .HeaderSection-buttons.wow.fadeInUp(data-wow-delay="2s")
      .HeaderSection-buttonsItem
        a(href="https://itunes.apple.com/us/app/breezy-easy-print-fax-for/id438846342?mt=8" target="_blank")
        .HeaderSection-buttonsIcon
          img(src="images/apple.svg")

        .HeaderSection-buttonsText
          .HeaderSection-buttonsTextTitle
            | Download for
          .HeaderSection-buttonsTextSubtitle
            | Apple iOS

      .HeaderSection-buttonsItem
        a(href="https://play.google.com/store/apps/details?id=com.breezy.android&hl=en" target="_blank")
        .HeaderSection-buttonsIcon
          img(src="images/android.svg")

        .HeaderSection-buttonsText
          .HeaderSection-buttonsTextTitle
            | Download for
          .HeaderSection-buttonsTextSubtitle
            | Android