.PartnersSection
  .container
    .PartnersSection-title
      | OUR PARTNERS
    .PartnersSection-hr
    .PartnersSection-text
      | Breezy has deep relationships across the EMM industry and has partnered with implementation experts around the globe<br>to bring you secure, on-demand printing whenever and wherever you need.
    
    .PartnersSection-image
      .PartnersSection-imageItem
        img(src='images/partners/citrix.png')
      .PartnersSection-imageItem
        img(src='images/partners/good.png')
      .PartnersSection-imageItem
        img(src='images/partners/imgres.png')
      .PartnersSection-imageItem
        img(src='images/partners/mobileron.png')
      .PartnersSection-imageItem
        img(src='images/partners/mobliciti.png')
      .PartnersSection-imageItem
        img(src='images/partners/nomasis.png')

    .PartnersSection-button.buttonControl.wow.fadeInUp
      a(href="partners/breezy-emm-partners.html")
      | More About Our Partners
