.PartnersSection
  .container
    .PartnersSection-title
      | OUR PARTNERS
    .PartnersSection-hr
    .PartnersSection-text
      | Breezy has deep relationships across the EMM industry and has partnered with many others to bring you secure, on-demand printing whenever and wherever you need.
    .PartnersSection-button.buttonControl.wow.fadeInUp
      a(href="become_a_partner.html")
      | Become a Breezy Partner