.SolutionsSection
  .container

    .SolutionsSection-title
      | BREEZY SOLUTIONS
    .SolutionsSection-hr

    .SolutionsSection-list
      .SolutionsSection-listItem
        .SolutionsSection-listIcon.icon-printer
        .SolutionsSection-listTitle
          | ENTERPRISE MOBILE PRINTING
        .SolutionsSection-listText
          | Choose from Cloud, Hybrid or On-Premise options to enable secure mobile printing across your entire organization.
        .SolutionsSection-listButton
          a(href="products/secure-mobile-printing-for-enterprise.html")
          | Discover Mobile Printing

      .SolutionsSection-listItem
        .SolutionsSection-listIcon.icon-cloud-upload
        .SolutionsSection-listTitle
          | DRIVERLESS PRINTING
        .SolutionsSection-listText
          | Breezy's patented Universal Queue solution offers a complete replacement for legacy printer drivers. Print to any printer, from any device, without installing another driver ever again. 
        .SolutionsSection-listButton
          a(href="http://landing.breezy.com/universal-queue.html")
          | Secure Your Printing

      .SolutionsSection-listItem
        .SolutionsSection-listIcon.icon-settings
        .SolutionsSection-listTitle
          | THE BREEZY SDK
        .SolutionsSection-listText
          | Building your own mobile apps? Breezy can help, with a drop-in SDK that lets you add a native "print" button to any app in minutes.
        .SolutionsSection-listButton
          a(href="partners/breezy-for-developers.html")
          | Print from Any App

      .SolutionsSection-listItem
        .SolutionsSection-listIcon.icon-map
        .SolutionsSection-listTitle
          | THE BREEZY PARTNER NETWORK
        .SolutionsSection-listText
          | Breezy has partnered with FedEx Office and others to create a GPS-powered local printing network with thousands of locations across North America.
        .SolutionsSection-listButton
          a(href="products/mobile-printing-at-partner-locations.html")
          | See Public Printing Locations

      .SolutionsSection-listItem
        .SolutionsSection-listIcon.icon-home
        .SolutionsSection-listTitle
          | HOME AND PERSONAL PRINTING
        .SolutionsSection-listText
          | Breezy's unique infrastructure enables mobile printing, print security and an audit trail even when your users are working from home.
        .SolutionsSection-listButton
          a(href="products/secure-mobile-printing-at-home.html")
          | Learn more