.WhySection
  .container
    .WhySection-title
      | WHY BREEZY?
    .WhySection-hr
    .WhySection-text
      | With a history of innovation, Breezy is the most sophisticated print platform in the world. Here are a few reasons why.

    .WhySection-list.WhySection-left
      .WhySection-listItem.wow.fadeInLeft
        .WhySection-listText
          .WhySection-listTextTitle
            | INDUSTRY LEADERSHIP
          .WhySection-listTextDescription
            | From Gartner to BLI, Breezy has repeatedly earned analyst recognition for innovation.

        .WhySection-listImage
          .WhySection-icon.icon-trophy

      .WhySection-listItem.wow.fadeInLeft
        .WhySection-listText
          .WhySection-listTextTitle
            | SECURITY
          .WhySection-listTextDescription
            | Breezy pioneered on-device encryption and integrates with all leading EMM providers.
          .WhySection-listTextDescription
            | Robust audit trails and reporting features come standard.

        .WhySection-listImage
          .WhySection-icon.icon-lock

      .WhySection-listItem.wow.fadeInLeft
        .WhySection-listText
          .WhySection-listTextTitle
            | FLEXIBILITY
          .WhySection-listTextDescription
            | Breezy supports every printer ever made, from every vendor under the sun. Mixed fleets are no problem.

        .WhySection-listImage
          .WhySection-icon.icon-printer

    .WhySection-iphone
      img(src="images/iphone.png")
      video(autoplay loop).WhySection-gif
        source(src="video/iphone-gif.webm" type="video/webm")
        source(src="video/iphone-gif.mov" type="video/mov")

    .WhySection-list.WhySection-right
      .WhySection-listItem.wow.fadeInRight
        .WhySection-listImage
          .WhySection-icon.icon-magic-wand
        .WhySection-listText
          .WhySection-listTextTitle
            | BREEZY IS EASY.
          .WhySection-listTextDescription
            | Over a quarter million people have Breezy accounts, and most have never needed support. Administration is just as easy.

      .WhySection-listItem.wow.fadeInRight
        .WhySection-listImage
          .WhySection-icon.icon-energy
        .WhySection-listText
          .WhySection-listTextTitle
            | BREEZY IS FAST!
          .WhySection-listTextDescription
            | SSO for one-touch setup. Integrated print button for two-tap printing. Fast, accurate rendering.
          .WhySection-listTextDescription
            | With millions of API requests per week, we handle most in under 30ms.

      .WhySection-listItem.wow.fadeInRight
        .WhySection-listImage
          .WhySection-icon.icon-heart
        .WhySection-listText
          .WhySection-listTextTitle
            | BREEZY IS POWERFUL.
          .WhySection-listTextDescription
            | Native print support for all vendors, customizeable routing for global deployments, and much more.
