/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* line 1, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
.CustomersSection {
  background-color: #45474D;
  color: #ffffff;
  padding: 60px 0; }
  /* line 6, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
  .CustomersSection .container {
    text-align: center; }
  /* line 10, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
  .CustomersSection-title {
    font-size: 39px;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto; }
  /* line 17, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
  .CustomersSection-subtitle {
    margin-top: 5px; }
  /* line 21, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
  .CustomersSection-button {
    margin-top: 25px;
    color: #fff !important; }
  /* line 26, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
  .CustomersSection-slider {
    margin-top: 25px; }
  /* line 30, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
  .CustomersSection-sliderItem {
    outline: none; }
  /* line 34, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
  .CustomersSection-image {
    padding: 30px 0; }
  /* line 38, /Users/tumasov/Developer/brunch-with-es6/app/styles/customers.scss */
  .CustomersSection-image img {
    margin: 0 auto; }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 11, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 74, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 94, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 125, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 142, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 152, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 161, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 181, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 197, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 205, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
sup {
  top: -0.5em; }

/* line 209, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 275, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 289, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 301, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 314, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 326, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 336, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 360, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 369, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 393, /Users/tumasov/Developer/brunch-with-es6/app/styles/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, /Users/tumasov/Developer/brunch-with-es6/app/styles/_buttonControl.scss */
.buttonControl {
  border: 2px solid #ddd;
  color: #777;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 15px 30px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 14, /Users/tumasov/Developer/brunch-with-es6/app/styles/_buttonControl.scss */
.buttonControl:hover {
  color: #444;
  border: 2px solid #00aeff; }

/* line 1, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
.Header {
  background: #fff;
  border-bottom: 2px solid #eee;
  margin: 0 auto; }
  /* line 6, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-nav, .Header-logo {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
  /* line 13, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-logo {
    padding-left: 30px;
    max-width: 10%;
    vertical-align: bottom; }
  /* line 19, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-nav {
    text-align: right;
    font-weight: 300;
    max-width: 90%; }
  /* line 25, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-navItem {
    position: relative;
    display: inline-block;
    padding: 18px 20px 16px 20px;
    vertical-align: middle;
    font-size: 14px;
    z-index: 2;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #777;
    cursor: pointer; }
  /* line 38, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-navItem:after {
    content: '';
    position: absolute;
    opacity: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    left: 0;
    background: #00aeff;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  /* line 50, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-navItem:last-child {
    border-left: 1px #eee solid; }
  /* line 54, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-navItem:last-child:after {
    display: none; }
  /* line 58, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-navItemButton {
    font-size: 24px;
    color: #ccc;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  /* line 65, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-navItem a {
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  /* line 75, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-navItem:hover,
  .Header-navItem:hover > .Header-navItemButton {
    color: #00aeff; }
  /* line 80, /Users/tumasov/Developer/brunch-with-es6/app/styles/_header.scss */
  .Header-navItem:hover:after {
    opacity: 1 !important; }

/* line 1, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
.HeaderSection {
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  min-height: 650px;
  position: relative; }
  /* line 6, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 174, 255, 0.7); }
  /* line 15, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-logo {
    background: url("../images/logo-big.png") no-repeat center center;
    background-size: contain;
    height: 200px;
    margin-top: 100px; }
  /* line 22, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-slogan {
    color: #fff;
    line-height: 1.25;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px; }
  /* line 35, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttons {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 50px; }
  /* line 42, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsItem, .HeaderSection-buttonsIcon, .HeaderSection-buttonsText {
    display: inline-block;
    vertical-align: middle; }
  /* line 49, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsItem {
    background: rgba(255, 255, 255, 0.85);
    padding: 15px 30px 14px 25px;
    border-radius: 100px;
    margin: 0 4px;
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease;
    position: relative; }
  /* line 58, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsItem:hover {
    background: white; }
  /* line 62, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsItem > a {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  /* line 70, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsItem:last-child {
    color: #669900; }
  /* line 74, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsIcon {
    margin-right: 10px; }
  /* line 78, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsIcon > img {
    max-height: 32px; }
  /* line 82, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsTextTitle {
    font-size: 12px;
    font-weight: 300; }
  /* line 87, /Users/tumasov/Developer/brunch-with-es6/app/styles/_headerSection.scss */
  .HeaderSection-buttonsTextSubtitle {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700; }

/* line 1, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
.WhySection {
  padding: 80px 0 50px 0; }
  /* line 4, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-title {
    text-align: center;
    font-weight: 100;
    font-size: 39px; }
  /* line 10, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-hr {
    margin: 0 auto;
    margin-top: 25px;
    width: 80px;
    height: 2px;
    background-color: #00aeff; }
  /* line 18, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-text {
    margin-top: 30px;
    margin-bottom: 100px;
    color: #777;
    text-align: center;
    font-weight: 300;
    font-size: 16px; }
  /* line 27, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-list, .WhySection-nexus {
    display: inline-block;
    width: 33.33%;
    vertical-align: top; }
  /* line 34, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-nexus > img {
    width: 100%; }
  /* line 38, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-listItem {
    margin-bottom: 60px; }
  /* line 42, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-left {
    text-align: right; }
  /* line 46, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-left .WhySection-listTextTitle {
    padding-left: 10px; }
  /* line 50, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-right .WhySection-listTextTitle {
    padding-right: 20px; }
  /* line 54, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-listTextTitle {
    font-weight: 300;
    font-size: 28px;
    line-height: 32px; }
  /* line 60, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-listTextText {
    margin-top: 25px;
    color: #777;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6; }
  /* line 68, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-listImage, .WhySection-listText {
    display: inline-block;
    vertical-align: top; }
  /* line 74, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-listImage {
    width: 20%;
    text-align: right; }
  /* line 79, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-right .WhySection-listImage {
    text-align: left; }
  /* line 83, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-listText {
    width: 80%; }
  /* line 87, /Users/tumasov/Developer/brunch-with-es6/app/styles/_why.scss */
  .WhySection-icon {
    margin-top: 8px;
    color: #777;
    font-size: 48px; }

/* line 1, /Users/tumasov/Developer/brunch-with-es6/app/styles/_solutionsSection.scss */
.SolutionsSection {
  padding: 120px 0;
  font-weight: lighter;
  background: #f8f8f8; }
  /* line 6, /Users/tumasov/Developer/brunch-with-es6/app/styles/_solutionsSection.scss */
  .SolutionsSection-listItem {
    display: inline-block;
    margin-top: 25px;
    vertical-align: top;
    width: 100%;
    max-width: 33.33%;
    padding-right: 20px; }
  /* line 15, /Users/tumasov/Developer/brunch-with-es6/app/styles/_solutionsSection.scss */
  .SolutionsSection-listIcon {
    margin-top: 20px;
    color: #00aeff; }
  /* line 20, /Users/tumasov/Developer/brunch-with-es6/app/styles/_solutionsSection.scss */
  .SolutionsSection-listTitle {
    color: #00aeff;
    font-size: 20px;
    margin-top: 30px; }
  /* line 26, /Users/tumasov/Developer/brunch-with-es6/app/styles/_solutionsSection.scss */
  .SolutionsSection-listText {
    font-size: 15px;
    padding-right: 10px;
    margin-top: 10px;
    line-height: 25px; }
  /* line 33, /Users/tumasov/Developer/brunch-with-es6/app/styles/_solutionsSection.scss */
  .SolutionsSection-listButton {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    background-color: #39b3d7;
    border-color: #269abc;
    color: #fff;
    font-weight: normal;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 25px; }
  /* line 50, /Users/tumasov/Developer/brunch-with-es6/app/styles/_solutionsSection.scss */
  .SolutionsSection-listButton > a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

/* line 1, /Users/tumasov/Developer/brunch-with-es6/app/styles/_partnersSection.scss */
.PartnersSection {
  padding: 120px 0; }
  /* line 4, /Users/tumasov/Developer/brunch-with-es6/app/styles/_partnersSection.scss */
  .PartnersSection .container {
    text-align: center; }
  /* line 8, /Users/tumasov/Developer/brunch-with-es6/app/styles/_partnersSection.scss */
  .PartnersSection-title {
    text-align: center;
    font-size: 39px;
    font-weight: lighter;
    color: #444; }
  /* line 15, /Users/tumasov/Developer/brunch-with-es6/app/styles/_partnersSection.scss */
  .PartnersSection-hr {
    height: 2px;
    width: 80px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #00aeff; }
  /* line 23, /Users/tumasov/Developer/brunch-with-es6/app/styles/_partnersSection.scss */
  .PartnersSection-text {
    color: #777;
    text-align: center;
    margin-top: 40px;
    line-height: 30px; }
  /* line 30, /Users/tumasov/Developer/brunch-with-es6/app/styles/_partnersSection.scss */
  .PartnersSection-button {
    margin-top: 50px; }

/* line 1, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
.Footer {
  padding: 25px 0px 50px 0px;
  background: #222;
  color: #777; }
  /* line 6, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-listItem {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 15px; }
  /* line 13, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-listItem:first-child {
    padding-left: 0; }
  /* line 17, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-listTitle {
    color: #f2f2f2;
    font-weight: 700;
    margin-bottom: 10px; }
  /* line 23, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-listLink > a {
    font-size: 16px;
    font-weight: 300;
    color: #777;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    line-height: 1.6; }
  /* line 31, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-listLink > a:hover {
    color: #00aeff; }
  /* line 35, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-socialItem {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px 0 0;
    margin-top: 15px; }
  /* line 42, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-hr {
    margin-top: 25px;
    border: 0;
    border-top: 1px solid #eee; }
  /* line 48, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-logo {
    margin-top: 40px;
    text-align: center; }
  /* line 53, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-logo img {
    height: 75px; }
  /* line 57, /Users/tumasov/Developer/brunch-with-es6/app/styles/_footer.scss */
  .Footer-copyright {
    text-align: center;
    margin-top: 25px; }

/* line 13, /Users/tumasov/Developer/brunch-with-es6/app/styles/layout.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 17, /Users/tumasov/Developer/brunch-with-es6/app/styles/layout.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif; }

/* line 22, /Users/tumasov/Developer/brunch-with-es6/app/styles/layout.scss */
a {
  text-decoration: none; }

/* line 26, /Users/tumasov/Developer/brunch-with-es6/app/styles/layout.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 32, /Users/tumasov/Developer/brunch-with-es6/app/styles/layout.scss */
textarea {
  line-height: 1.6;
  resize: vertical; }

/* line 37, /Users/tumasov/Developer/brunch-with-es6/app/styles/layout.scss */
p {
  color: inherit; }

/* line 41, /Users/tumasov/Developer/brunch-with-es6/app/styles/layout.scss */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 65px;
  min-height: 100%;
  overflow: hidden;
  max-width: 1260px;
  width: 100%;
  text-align: left; }


/*# sourceMappingURL=app.css.map*/